<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FTMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:lightcyan" ng-app="ftms">
    
    @Html.Partial("_NavBar")
    <div class="container body-content" >
        @RenderBody()
        @*<hr />*@
     </div>

        <div class="footer navbar-fixed-bottom" style="background-color:darkgreen;height:20px">
            <p align="center">&copy; @DateTime.Now.Year - Trizetto Tools</p>
            
        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/customscripts")
    @RenderSection("scripts", required: false)

</body>
</html>
